.player{
    position: relative;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.player img {
    position: absolute;
    top:20px;
    left:20px;
    width: 50px;
    cursor: pointer;
}
*/

.player iframe {
    border-radius: 10px
}

.player-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
    width: 50px;
    cursor: pointer;
}

.video-wrapper {
  position: relative;
  width: 90%;
  padding-bottom: 50%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
